.contenedorItem {
    display: flex;
    flex-direction: row;
    margin: 24px;
}

.informacionProducto {
    margin: 24px;
}

.informacionProducto h2 {
    color: #353434;
    font-size: 1.6rem;
}

.informacionProducto h3 {
    color: #353434;
    font-size: 1.4rem;
}

.informacionProducto p {
    color: #6b6969;
    margin: 8px 0;
    font-size: 1.2rem;
}

.controlesStock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 16px;
}