.cardProducto {
    border: 2px solid #cac7c7;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
    background: #fff;
    height: 400px;
}

.cardProducto:hover {
    transform: scale(1.05);
}

.cardProducto img {
    width: 20vw;

    border-radius: 10px;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn:hover {
    background: #7e7a79;
}