* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #E9E2E2;
  display: flex;
  flex-direction: column;
}

.contenedorPrincipal {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* 100% del viewport */
}

.contenidoPrincipal {
  flex: 1;
}